/*WARNING*/
.warning p{
    color: red
}
/*Light Mode - catppuchin Frappe*/
body{
    background-image: linear-gradient(to bottom,#232634, #f4b8e4);
}
h1 {
    font-size: 40px;
    font-family: "Sofia", sans-serif;
    color:#ca9ee6
}
h2 {
    font-size: 25px;
    font-family: Ubuntu, Bold;
    Color: #303446;
}
p {
    font-size: 12px;
    font-family: Ubuntu;
    color: #303446;
}
.navbar a {
    padding: 10px;
    background-image: linear-gradient(to bottom, #babbf1, #ca9ee6);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu';
    color: #303446;
}
.navbar a:hover {
    color: #c6d0f5;
    background-image: linear-gradient(to bottom, #babbf1, #232634);
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-image: linear-gradient(to bottom, #f4b8e4, #f2d5cf);
    border: 5px solid #ca9ee6;
    border-radius: 15px;
}
.maincontainer {
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:gray
}
.bannerimage h1{
    text-align: center;
}
.textbox {
    background-image: linear-gradient(to bottom, #f4b8e4, #f2d5cf);
    padding: 20px;
    margin-top: 20px;
    border: 5px solid #ca9ee6;
    border-radius: 5px;
}
.textbox .a {
    padding: 10px;
    background-color: #ca9ee6;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: #c6d0f5;
}

